@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #9DB7CF;
    font-family: 'Chakra Petch', sans-serif;
    color: #1D1B19;
}

.web-felis {
    max-width: 1440px;
    background: #F1EAE4;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-transform: uppercase;
    padding: 1% 4% 1% 4%;
}

.navigation-menu-left a,  .navigation-menu-right a {
    text-decoration: none;
    color: #1D1B19;
    font-size: 16.96px;
}

.navigation-menu-left a:hover, .navigation-menu-right a:hover {
    text-decoration: underline;
}

.navigation-menu-left, .navigation-menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
} 

 .title {
    font-size: 52.9025px;
} 

.ellipse {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ellipse p {
    position: absolute;
}

h2 {
    font-size: 62.84px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

img {
    max-width: 100%;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-subtitle {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 9%;
}

.main-subtitle h3 {
    padding-top: 5%;
}
.main-subtitle h3:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

.gallery-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 4.5% 4% 4.5%;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
}

h4 {
    font-size: 20.18px;
    text-transform: uppercase;
    font-weight: 300;
}

.gallery-title h4:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

h5 {
    font-size: 22px;
    font-weight: 300;   
}

.gallery-row-one {
    display: flex;
    justify-content: space-between;
    padding: 0 4% 0 4%;
}

.gallery-row-two {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.gallery-row-one h4, .gallery-row-two h4 {
    color: rgba(29, 27, 25, 0.72);
}

.gallery-row-three {
    height: 700px;
    display: flex;
    justify-content: space-between;
    padding: 0 4% 0 4%;
}

.necklace {
    align-self: flex-start;
}
.necklace-text {
    align-self: center;
}

.necklaces {
    align-self: flex-end;
}

ul {
    
    list-style: none;
    text-transform: uppercase;
    font-size: 56.377px;
    line-height: 96px;
    text-align: center;
    font-weight: 300;
}

.informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 4% 0 4% ;
}

h6 {
    font-size: 27px;
    font-weight: 300;
    padding: 5% 0 5% 0;
}

.informations-text {
    padding-right: 6%;
}

.informations-text a {
    color:#1D1B19;
}

.sign-up-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10% 0 10% 0;
}

.sign-up-mail {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1D1B19;
    padding-bottom: 2%;
    width: 50%;
}

form input {
   font-size: 22px;
   text-transform: uppercase;
   background-color: #F1EAE4;
   border: none;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.subscribe:hover img {
    transform: translate(10px);
    transition-duration: 1s;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    padding: 12% 0 4%;
}

.instagram-gallery {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    border-bottom: 1px solid #1D1B19;
}

.title-footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 52.9px;
    text-transform: uppercase;
    font-weight: 300;
}

.lists {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.title-footer a {
    text-decoration: none;
    color:#1D1B19;
}

.title-footer h3 {
    padding: 5% 0;
}

footer {
    padding-top: 3%;
}

footer p {
    text-transform: uppercase;
    font-size: 16.58px;
    font-weight: 300;
    padding: 2%;
}

@media screen and (max-width: 576px) {

    .main-content{
        display: flex;
        flex-direction: column;
    }

    .gallery-row-one {
        gap: 4%;
    }

    .gallery-row-two {
        padding: 10%;
    }

    .gallery-row-three {
        display: flex;
        flex-direction: column;
        padding-bottom: 130%;
    }

    .informations {
        display: flex;
        flex-direction: column;
    }

    .sign-up-title {
        text-align: center;
    }

    form {
        width: 80%;
    }

    .instagram {
        text-align: center;
    }

    .instagram-gallery {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 4%;
    }

    .title-footer {
    font-size: 32.9px;
    }
    
    .lists {
        gap: 20px;
    }

} 